doctype html
extends layout
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title Cloud Technical Roster
    // Favicon
    link(rel='icon' type='image/x-icon' href='assets/favicon.ico')
    // Core theme CSS (includes Bootstrap)
    // CSS only

    // Page content
    .container
      .text-center.mt-5
        h1 Cloud Technical Roster
        p.lead A complete roster of all CTRs since 2018
        p.lead
          | Cloud Technical Residency builds a sustainable pipeline of leadership and diverse talent for Google Cloud customer-facing technical roles.
    .container
      .text-center.mt-5
        //
          <div class="col-md-4 col-xs-12">
          <img src = "" />
          </div>
          <div class="col-md-4 col-xs-12">
          <img src = "" />
          </div>
          <div class="col-md-4 col-xs-12">
          <img src = "" />
          </div>
          <div class="col-md-4 col-xs-12">
          <img src = "" />
          </div>
        img(src='img/ctr-managers.png')
        // <p>Last Updated: 08/30/2022</p>
    .container
      .text-center.mt-5
        a.btn.btn-outline-primary(href='https://moma.corp.google.com/person/jwohn' button='' type='button') Email John 
        a.btn.btn-outline-primary(href='https://moma.corp.google.com/person/junos' button='' type='button') Email Juno
        a.btn.btn-outline-primary(href='https://moma.corp.google.com/person/asciuto' button='' type='button') Email Ale 
        a.btn.btn-outline-primary(href='https://moma.corp.google.com/person/samanthaz' button='' type='button') Email Samantha
    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
    // Core theme JS
    script(src='js/scripts.js')
